# Dependencies
node_modules/

# Build output
.next/
out/
dist/
build/

# Expo
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# Environment
.env
.env.local
.env.production
.env.development
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
